/* 
  Original Title: Dark & Minimal Google Calendar
  Original Author: Vitaly Zdanevich <zdanevich.vitaly@ya.ru>
  Original URL: https://userstyles.org/styles/103763/dark-minimal-google-calendar
  Original License: CC BY 4.0 http://creativecommons.org/licenses/by/4.0/

  CHANGELOG
  =========

  2016-01-28  Calvin Ardi  <calvin@isi.edu>
  - change 'today' background color for better visibility

  2016-01-25  Calvin Ardi  <calvin@isi.edu>
  - "!important" due to the way Chrome injects CSS
  - "#fff" on various event titles
  - change "today" size to fit better
  - pack as a Chrome Extension

*/

#calmaster {
    background-color: black !important;
}

#gridcontainer {
    margin-right: 17px !important;
}

#mainbody {
    margin-left: 30px !important;
}

#nav, #sidebar {
    display: none !important;
}

#onegoogbar {
    display: none !important;
}

#rhstogglecell {
    display: none !important;
}

#vr-nav {
    display: none  !important;
}

.mv-event-container {
    background: black !important;
    border-bottom: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: 1px solid black !important;
}

.rb-ni {
    color: #fff !important;
}

.st-bg {
    border-left: 1px solid black !important;
}

.st-c .rb-n {
    background-color: #012 !important;
    border: gray !important;
    padding: 10px !important;
}

.st-dtitle {
    border-left: 1px solid black !important;
    border-top: 1px solid black !important;
}

.st-dtitle-next {
    border-left-color: #ddd !important;
}

div.mv-container {
    background-color: #000000 !important;
}

label.ep-recl-label {
    color: #9c9c9c !important;
}

span.group label {
    color: #dedede !important;
}

td.st-bg {
    background-color: #000000 !important;
}

td.st-dtitle {
    background-color: #000000 !important;
    color: #e6e6e6 !important;
}

td.st-bg.st-bg-today, td.st-dtitle.st-dtitle-today {
    background-color: #222 !important;
}

td.st-dtitle.st-dtitle-today {
    color: #ff0000 !important;
    font-size: 20px !important;
}

th.mv-dayname {
    background-color: #000000 !important;
    color: #c7c7c7 !important;
}

div.ca-evp11 {
    color: white !important;
}

div.te {
    color: white !important;   
}
